# Lab Exercise 2

### You need to print the notebook as PDF and submit it on Balckboard
#### The deadline of submission is 23:59, 5 April 2025

## Case Background

You are the teaching assistant of the subject BHMS3324. There are 20 students enrolled on your class, and you would like to use Python to record and analyse their learning performance.

Four assessment components that determine the overall result of this subject are "homework 1", "homework 2", "test", and "exam". The weights of the components towards the final marks are:

|homework 1| homework 2| test| exam|
|:-:|:-:|:-:|:-:|
|20%| 20%| 20%| 40%|

The table below is the student list of the subject BHMS3323.

![namelist](https://github.com/andyy1235/BHMS3324/blob/main/images/lab_exercise03_namelist.png?raw=1)

## Question 1

Create a Pandas `DataFrame` named `results` for storing the student's results.
- Your dataframe should contain four columns named "HW1", "HW2", "Test", and "Exam".
- You should use the student name as the index of the DataFrame.
- You should initialize a zero mark for all the assessment components.

In [ ]:
# Question 1
# Write your code below:

import pandas as pd
StudentName = ["John Lee", "Peter Chan", "Janice Ma", "Roy Kwok", "Peter Ng", "Joe Lam",
         "Bill Kwan", "Christine Law", "Ricky Chan", "Theresa Ma", "Chole Wu",
         "Isaac Lee", "Gina Wut", "Candy Ip", "Ben Chan", "Anson Lo", "Jacky Shiu",
         "Catherine Wo", "Elton Tang", "Rock Shek"]

[4, 6]

## Question 2

The students got the following marks towards the semester's end.

![namelist](https://github.com/andyy1235/BHMS3324/blob/main/images/lab_exercise03_marks.png?raw=1)

- Write code to update the marks in `data` according to the above table.
- Add a column named 'total' in the DataFrame `results` with the overall marks for individual students
- Write code to find out which student got the highest mark in this course.
- Write code to find out which student got the lowest mark in this course.

In [ ]:
# Question 2

# Write your code below:

## Question 3

Suppose the following mark-to-grade conversion table is adopted in this course.

|Mark range| Grade|
|:-: | :-: |
|49 or below | F |
|50 to 59| D|
|60 to 69| C|
|70 to 79| B|
|80 or above| A|

- Add a column named 'grade' in the DataFrame `results` with the overall grade for individual students.

In [ ]:
# Question 3

# Write your code below: